<ion-pane>
  <ion-header-bar align-title="center" class="bar bar-header bar-positive">
  	<a class="button button-icon icon ion-ios-arrow-left" back></a>
    <h1 class="title">
    	<img class="title-img" src="img/bar.png">
    </h1>
  </ion-header-bar>
  <ion-content class="padding-vertical">
	<div class="center-button">
	        <button ui-sref="quiz()" class="button button-positive button-block" type="submit">Uji Tingkat Stres</button>
	        <br>
	        <button class="button button-positive button-block" ng-click="undercons()">Ganti Profile</button>
	</div>
  </ion-content>
</ion-pane>